[Unit]
Description=DMOJ celery worker
After=network.target mariadb.service redis-server.service

[Service]
Type=simple
User=dmoj-celery
Group=dmoj-celery
WorkingDirectory=/srv/dmoj/site
ExecStart=/srv/dmoj/venv/bin/celery -A dmoj_celery worker
Restart=on-failure
RestartSec=5
UMask=0022
Environment=HOME=/nonexistent
Environment=PYTHONDONTWRITEBYTECODE=1
Environment=PATH=/srv/dmoj/venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=DMOJ_SERVICE_LOG_DIR=/var/log/dmoj-celery
Environment=DMOJ_SERVICE_MEDIA_ROOT=/srv/dmoj/media/
LogsDirectory=dmoj-celery
LogsDirectoryMode=0700
BindReadOnlyPaths=/srv/dmoj/site /srv/dmoj/venv
ReadWritePaths=/srv/dmoj/media
NoNewPrivileges=yes
CapabilityBoundingSet=
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
LockPersonality=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
